body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   text-align: center;
}
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   background-color: #f5f5f5;
   border-bottom: 2px solid black;
}
.logo {
   display: flex;
   align-items: center;
}
.logo img {
   width: 50px;
   height: 50px;
   margin-right: 10px;
}
nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   display: flex;
}
nav ul li {
   margin: 0 10px;
}
nav ul li a {
   text-decoration: none;
   color: black;
   font-weight: bold;
}
.social-icons img {
   width: 30px;
   height: 30px;
   margin: 0 5px;
}
main {
   display: flex;
   justify-content: space-between;
   padding: 20px;
}
aside {
   width: 20%;
   font-size: 20px;
   font-weight: bold;
}
.content {
   width: 60%;
   text-align: left;
}
footer {
   padding: 10px;
   background-color: #f5f5f5;
   border-top: 2px solid black;
}
